<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Camera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C794A5B1E5E0BDB00D32E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C794A6F1E5E0BDB00D32E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C794A7A1E5E0BDB00D32E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
